<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
<meta name="Robots" content="index,follow">


<meta name="author" content="">
<meta name="keyword" content="キーワード1,キーワード2,キーワード3"> 
<meta name="description" content="サイトの説明文を入れてください。"> 

<title>TNM</title>

<%= stylesheet_link_tag "top", media: "all" %>


</head>
<body>


<!-- ▼ヘッダー▼ -->
<header class="header">

	<div class="toph1" id="top">

	<h1 class="h1">T N M</h1>

<div id="menu">
<nav>
<ul>
<li class="header-list"><a class="header-a" href="">使い方</a></li>
</ul>
</nav>
</div>



	<p id="h_image">
		<img  class="f" src=<%= asset_path('f.jpg') %>  alt="">

		<!--
		※↓のままでもいいですし、何か説明文を入れても大丈夫です。
		高さはcssで変更してください。
		-->
				<span class="span"><font size="6">THE　NEW　ME</font></span>
				
	</p>

	</div>

	<div class="headerh2"><B>あなたの過去のツイートから分析して、<br>アバターがあなたの好きそうなこと提案します</br></B></div>
	<div class="headerh2"></div>
	<p class="des"><B>あなたの日常を180度変えます</B><br>
	
	</p>

</header>

<article class="article">


	<div class="title" id="sec1">
		<div class="setumei"><center>使い方の説明</center></div>
	</div>

	<section class="section">
	<a class="a" href="#e.png">
		<figure class="figure">
			<img class="e" src=<%= asset_path('e.png') %>  alt="">
		</figure>
		
		<div class="p">
		<B>○あなたの過去のツイートから、アバターがあなたの好きそうな<span style="color: #2EFE2E">場所</span>、<span style="color: #FFBF00">遊び</span>、<span style="color: #CC2EFA">食べ物</span>を提案します！
		</div>
		
		<div class="p">
		○アバターの提案が気に入らないとき、<span style="color: #0000FF">『違う自分を見つける！』ボタン</span>を押すと他の提案をしてくれます
	    </div>
		
		
	    <div class="p">
		○<span style="color: #0000FF">
		背景変更</span>を押すと、背景色を変えることができます！自分の好きな色やアバターに合った色を設定しよう！
		</div></B>
		
		
		
		
</div>	


		
	</a>
	</section>


	<section>
	<form action="/main_page/index"> 
		<figure>
		ツイッターのユーザーネームを入力してください！(例：@name123) <input type="text" name="username" required> 
		<Div Align="center">	
		<input  class=" boton" style="color:darkred;background-color:sandybrown;font-size:15;width:150px;height:30px" type="submit" value="ボタン!"></Div>
		</figure>
	</form>
	</a>
	</section>

	<p class="go_top"><a class="t" href="#top">Topへ >></a></p>


</article>
</body>
</html>