* {
	box-sizing: border-box;
}


li {
  list-style: none;
}

li a:link { color:#1100ff; text-decoration:none }
li a:visited { color:#1100ff; text-decoration:none }
li a:hover { color:#ffffff; text-decoration:none }
li a:active { color:#0000ff; text-decoration:none }

html {
	height: 100%;
}
body {
  font-family: "Avenir Next", "Hiragino Kaku Gothic ProN W3", sans-serif;
  background-color:rgb(240, 240, 251);
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
	width: 100%;
    position: relative;
    height: auto !important;
    height: 100%;
    min-height: 100%;
}

.contents {
	padding-bottom: 700px;
}


.header {
	background-color: #00ccff;
	height: 50px;
	border: 3px solid #05bbff;
	border
}

.title {
	font-size: 36px;
	font-weight: bold;
	float:left;
	padding: 15px 20px 0 20px;
}
ul li {
	background-color: #33bbff;
	height: 45px;
	display: inline-block;
	float: left;
	padding: 16px 150px 0 150px;
	font-size: 20px;
	opacity: 0.5;
}

ul li:hover{
  opacity:1;
} 

.huki {
	display: inline-block;
	float: left;
	padding-top:20px; 
}

.huki1 {
	margin-left:30px;
	margin-bottom: 50px;
}
.relative1 {
    position: relative;
}
.absolute1 {
     position: absolute;
    bottom: 100px;
    left:500px;
}

.relative2 {
    position: relative;
}
.absolute2 {
     position: absolute;
     left:50px;
     top:110px;
    
}


.relative3 {
    position: relative;
}
.absolute3 {
     position: absolute;
     right: 150px;
     top:190px;
    
   
}

.ab p {
    margin: 0;
    padding: 0 0.8em;
    font-size: 300%;
    text-align: center;
}

.huki2 {
	margin-right:60px;
}

.imgs {
	display: inline-block;
	float: left;
	padding-left:100px; 
	padding-top:100px;
	height: 100%;
	width: 100%;
}

.img {
	margin-left:30px;
}

.huki3 {
	margin-left:150px;
	margin-top: 80px; 
}

.btn {
	display: inline-block;
	float: left;
	padding-left:350px;
	padding-top: 25px;

}
.contact-submit {
  text-align: center;
  background-color: #13eeff;
  color: #000000;
  height: 45px;
  width: 300px;
  font-size: 18px;
}


.footer {
  background-color: #11aaee;
  width: 100%;
  height: 100px;
  margin-top: 63px;

}
